*{box-sizing: border-box;}

*{overflow: auto;}

#box1{
	border: 5px solid black;
	background-color: #712E2E;
	height:200px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
	position: relative;
	
}

#box2{
	border: 5px solid black;
	background-color: #B7962F;
	height:200px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
	position: relative;
	
}

#box3{
	border: 5px solid black;
	background-color: #2FA9B7;
	height:200px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
	position: relative;
	
}

#tab {position: absolute;
left: 75%;
bottom:72%;
font-family: Helvetica;
font-size:20px;}

#content {
	position: absolute;
	left:5%;
	top: 10%;
	font-family: Helvetica
	font-size:10px;


}

.row {width: 100%;}


@media (min-width: 1200px){
	.col-lg-1
	/*defining columns 1-12, and marking "lg" for LARGE*/
	{float: left;
		}


.col-lg-1 {
	width:33%;
}

}


@media (min-width: 950px) and (max-width: 1199px){
	.col-md-1, .col-md-2
		{float: left;
		}


.col-md-1 {
	width:50%;
}

.col-md-2{
	width:100%;
	clear:both;}	

}

#header{text-align: center;
	font-size:50px;
	margin-bottom: 15px;
font-family: Helvetica;
font-style: italic;}
