h1{			font-family: Helvetica;
			color:black;
			font-size: 50px;
			text-align:center;
		}
		body{text-align:center;
			font-size:20px;
			font-color:green;}



			a:hover{
					color: yellow;}

					ul{list-style: none;}

					a:visited{color: green;}


